<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>XRAY</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>   
  </head>
  <body>
    <div class="container py-5">
      <!-- For demo purpose -->
      <header class="text-white text-center">
          <h1 class="display-4">XRAY Classification with AR</h1>
          <img src="https://res.cloudinary.com/mhmd/image/upload/v1564991372/image_pxlho1.svg" alt="" width="150" class="mb-4">
      </header>
    
    {% block content %}
      <div class="row py-4">
        <div class="col-lg-6 mx-auto">

          <div class="text-center">
            <form method="get" action="{% url 'upload' %}">
              <button type="submit" class="btn btn-dark">Go to upload</button>
            </form>
          </div>

        </div>
      </div>
    {% endblock %}

    </div>

  </body>
</html>