{% extends 'base.html' %}

{% block content %}

    <div class="row py-4">
        <div class="col-lg-6 mx-auto">

          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Upload image input-->
            <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                <input id="upload" type="file" name="xray" onchange="readURL(this);" class="form-control border-0">
                <label id="upload-label" for="upload" class="font-weight-light text-muted">Choose file</label>
                <div class="input-group-append">
                    <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Choose file</small></label>
                </div>
            </div>

            <!-- Uploaded image area-->
            <div class="image-area mt-4"><img id="imageResult" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block"></div>

            <div class="text-center"> 
              <button id="upload-button" type="submit" class="btn btn-dark">Upload</button>
            </div>
            
          </form>

        </div>
    </div>

    <div class="row py-4">
      <div class="col-lg-6 mx-auto">

        {% if qrcode_path %}
          <div class="text-center">
            <img src="{{ qrcode_path }}" alt="" width="300" class="mb-4">
          </div>
        {% endif %}

      </div>
    </div>

    <div class="row py-4">
      <div class="col-lg-6 mx-auto">

        <div class="text-center">
          <form method="get" action="{% url 'home' %}">
            <button type="submit" class="btn btn-dark">Homepage</button>
          </form>
        </div>

      </div>
    </div>

{% endblock %}